{% extends 'base.html.twig' %}

{% block title %}Hello FicheDeVieController!{% endblock %}

{% block content %}
                                <div class="bloc_2_contenu contenu_center">
                                    
                                
                                <div class="bloc_2_contenu">

           

                                                                   
                                           
                                   <!--     
                                        <div class="bloc_2_detail">
                                        <p> Les champs suivants sont obligatoires:
                                         <br/>
                                         -Rapport de mise en service  <br/>     
                                         -Fiche d'adéquation   <br/>      
                                         -Conformité CE
                                         </p>
                                         </div>


                                          <div class="bloc_2_detail">
                                        <p> Les champs suivants sont obligatoires:
                                         <br/>
                                         -Rapport de mise en service  <br/>     
                                         -Fiche d'adéquation   <br/>      
                                         -Conformité CE
                                         </p>
                                         </div>


                                             <div class="bloc_2_detail">
                                             <p> Le numero du moyen est manquant
                                             </p>
                                             </div>
                                    </div>
                                  -->



                                  {% if notification1 is not null %}
                                   <div class="bloc_2_detail">
                                             <div class="alert alert-warning" role="alert">
                                                {{notification1}}
                                             </div>  
                                         </div>
                                   {% endif %}
    
                                    {% if notification2 is not null %}
                                   <div class="bloc_2_detail">
                                             <div class="alert alert-warning" role="alert">
                                                {{notification2}}
                                             </div>  
                                         </div>
                                   {% endif %}


                                    
                                    {% if notification_validation_maintenance is not null %}
                                     <div class="bloc_2_detail">
                                                <div class="alert alert-info" role="alert">   
                                                <p>{{notification_validation_maintenance}}</p>
                                                </div>
                                    </div>
                                    {% endif %}

                                    
                                    {% if notification_validation_qualite is not null %}
                                    <div class="bloc_2_detail">
                                                  <div class="alert alert-info" role="alert">  
                                                  <p>{{notification_validation_qualite}}</p>
                                                  </div>
                                    </div>
                                    {% endif %}

                                     

                                     <form action="" method="POST" enctype="multipart/form-data">

                                          <div class="mb-3">
                                                <p>{{numero_bdd}}</p>
                                        </div>

                                        <div class="mb-3">
                                                <img src="{{asset('assets/img/pince.jpg')}}" class="grande_image_pince" alt="">
                                        </div>

                                        <div class="mb-3">
                                            <label for="exampleFormControlSelect1">Description du moyen</label>                                            

                                       <select  {% if app.user.administrateur==false and (statusDuMoyen_bdd == 'En production' or statusDuMoyen_bdd == 'Demande passage statut prod')  %} disabled {% endif %} name="description" class="form-control" id="exampleFormControlSelect1">

                                                      <option value="{{description_bdd}}">{{description_bdd}}</option>
                                                    {% for DescriptionMoyen in DescriptionMoyens  %}
                                                    <option  {% if DescriptionMoyen.name is defined and DescriptionMoyen.name == description_bdd %} selected {% endif %}   value="{{DescriptionMoyen.name}}">{{DescriptionMoyen.name}}</option>
                                                    {% endfor  %} 
                                       </select>

                                        </div>

                                        <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">CMU <span class="numero_cmu"><iconify-icon icon="fa-solid:exclamation" style="color: red;"></span> </label>                                       
                                         <input {% if app.user.administrateur==false and (statusDuMoyen_bdd == 'En production' or statusDuMoyen_bdd == 'Demande passage statut prod')  %} disabled {% endif %} {% if cmu_bdd is defined %} value="{{cmu_bdd}}" {% endif %} class="form-control" name="cmu" id="cmu" type="number" placeholder="Veuillez saisir la CMU">
                                        </div>

                                          <div class="mb-3">
                                                            <label for="exampleFormControlSelect1">Zone / Service</label>
                                                        <select class="form-control" name="zone_service" id="exampleFormControlSelect1">                                           
                                                            
                                                             <option value="{{zoneservice_bdd}}">{{zoneservice_bdd}}</option>
                                                            {% for zone_service in zone_services  %}
                                                                  <!--  {% if zoneservice_bdd is defined and zone_service.name != zoneservice_bdd %} <option selected value="{{zoneservice_bdd}}">{{zoneservice_bdd}}</option> {% endif %}  -->
                                                                    <option {% if zone_service.name is defined and zone_service.name == zoneservice_bdd %} selected {% endif %}  value="{{zone_service.name}}">{{zone_service.name}}</option>
                                                            {% endfor  %} 
                                            </select>


                                        </div>

                                        <div class="mb-3">
                                            <label for="exampleFormControlSelect1">Fournisseurs</label>
                                            <select {% if app.user.administrateur==false and (statusDuMoyen_bdd == 'En production' or statusDuMoyen_bdd == 'Demande passage statut prod')  %} disabled {% endif %} class="form-control" name="fournisseurs" id="fournisseurs" id="exampleFormControlSelect1">
                                                          
                                                          <option value="{{fournisseurs_bdd}}">{{fournisseurs_bdd}}</option>
                                                          {% for fournisseur in fournisseurs  %}
                                                                  <!--  {% if fournisseurs_bdd is defined and fournisseur.name != fournisseurs_bdd %} <option selected value="{{fournisseurs_bdd}}">{{fournisseurs_bdd}}</option> {% endif %}  -->
                                                                    <option {% if fournisseur.name is defined and fournisseur.name == fournisseurs_bdd %} selected {% endif %}  value="{{fournisseur.name}}">{{fournisseur.name}}</option>
                                                            {% endfor  %} 

                                            </select>
                                        </div>

                                        <div class="mb-3">
                                            <label for="exampleFormControlSelect1">Emplacement exact</label>
                                            <select class="form-control" name="emplacement" id="exampleFormControlSelect1">

                                                        <option value="{{emplacements_bdd}}">{{emplacements_bdd}}</option>
                                                      {% for emplacement in emplacements  %}
                                                                          <!--  {% if emplacements_bdd is defined and emplacement.name != emplacements_bdd %} <option selected value="{{emplacements_bdd}}">{{emplacements_bdd}}</option> {% endif %} -->
                                                                            <option {% if emplacement.name is defined and emplacement.name == emplacements_bdd %} selected {% endif %}  value="{{emplacement.name}}">{{emplacement.name}}</option>
                                                      {% endfor  %} 


                                            </select>
                                        </div>

                                      <!-- Condition  Status du moyen -->
                                      {% if  app.user.administrateur==false and statusDuMoyen_bdd == 'En production' or statusDuMoyen_bdd == 'Demande passage statut prod' %}

                                           <div class="mb-3">
                                            <label for="exampleFormControlSelect1">Status du moyen</label>
                                            <select {% if app.user.administrateur==false and statusDuMoyen_bdd == 'En production' or statusDuMoyen_bdd == 'Demande passage statut prod'  %} disabled {% endif %} class="form-control" name="statusmoyen" id="exampleFormControlSelect1">

                                                     <option value="{{statusDuMoyen_bdd}}">{{statusDuMoyen_bdd}}</option>
                                                     {% for statusDuMoyen in statusDuMoyens  %}

                                                                       <!--    {% if statusDuMoyen_bdd is defined and statusDuMoyen.name != statusDuMoyen_bdd %} <option selected value="{{statusDuMoyen_bdd}}"> {{statusDuMoyen_bdd}} </option> {% endif %}  -->
                                                                            <option {% if statusDuMoyen.name is defined and statusDuMoyen.name == statusDuMoyen_bdd %} selected {% endif %}  value="{{statusDuMoyen.name}}">{{statusDuMoyen.name}}</option>
                                                      {% endfor  %} 

                                            </select>
                                        </div>

                                      {% elseif statusDuMoyen_bdd !='En production' and app.user.administrateur==false %}


                                                 <div class="mb-3">
                                            <label for="exampleFormControlSelect1">Status du moyen</label>
                                            <select  class="form-control" name="statusmoyen" id="exampleFormControlSelect1">

                                                     <option value="{{statusDuMoyen_bdd}}">{{statusDuMoyen_bdd}}</option>
                                                     {% for statusDuMoyen2 in statusDuMoyen2s  %}

                                                                       <!--    {% if statusDuMoyen_bdd is defined and statusDuMoyen2.name != statusDuMoyen_bdd %} <option selected value="{{statusDuMoyen_bdd}}"> {{statusDuMoyen_bdd}} </option> {% endif %}  -->
                                                                            <option {% if statusDuMoyen2.name is defined and statusDuMoyen2.name == statusDuMoyen_bdd %} selected {% endif %}  value="{{statusDuMoyen2.name}}">{{statusDuMoyen2.name}}</option>
                                                      {% endfor  %} 

                                            </select>
                                        </div>


                                      {% else %}


                                        <div class="mb-3">
                                            <label for="exampleFormControlSelect1">Status du moyen</label>
                                            <select id="status_du_moyen" {% if app.user.administrateur==false and statusDuMoyen_bdd == 'En production' or statusDuMoyen_bdd == 'Demande passage statut prod'  %} disabled {% endif %} class="form-control" name="statusmoyen" id="exampleFormControlSelect1">

                                                     <option value="{{statusDuMoyen_bdd}}">{{statusDuMoyen_bdd}}</option>
                                                     {% for statusDuMoyen in statusDuMoyens  %}

                                                                       <!--    {% if statusDuMoyen_bdd is defined and statusDuMoyen.name != statusDuMoyen_bdd %} <option selected value="{{statusDuMoyen_bdd}}"> {{statusDuMoyen_bdd}} </option> {% endif %}  -->
                                                                            <option {% if statusDuMoyen.name is defined and statusDuMoyen.name == statusDuMoyen_bdd %} selected {% endif %}  value="{{statusDuMoyen.name}}">{{statusDuMoyen.name}}</option>
                                                      {% endfor  %} 

                                            </select>
                                        </div>


                                      {% endif %}

                                           <!-- Condition  Status du moyen -->




 
                                   



                                        

                                     
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Date de vérification Bureau Véritas</label>
                                             <input {% if app.user.administrateur==false and (statusDuMoyen_bdd == 'En production' or statusDuMoyen_bdd == 'Demande passage statut prod')  %} disabled {% endif %} value="{{dateverifbv}}" name="dateverifbv"  class="form-control" type="date" placeholder="Default input">
                                        </div>

                                        <div class="mb-3">
                                            <label for="exampleFormControlSelect1">Status Bureau Veritas</label>
                                            <select id="statusbv"  onchange="handleStatusBVChange(this)" {% if app.user.administrateur==false and (statusDuMoyen_bdd == 'En production' or statusDuMoyen_bdd == 'Demande passage statut prod')  %} disabled {% endif %} class="form-control" name="statusbv" id="exampleFormControlSelect1">

                                                <option value="{{statusBV_bdd}}">{{statusBV_bdd}}</option>
                                               {% for statusBV in statusBVs  %}
                                                                         <!--   {% if statusBV_bdd is defined and statusBV.name != statusBV_bdd %} <option selected value="{{statusBV_bdd}}">{{statusBV_bdd}}</option> {% endif %} -->
                                                                            <option {% if statusBV.name is defined and statusBV.name == statusBV_bdd %} selected {% endif %}  value="{{statusBV.name}}">{{statusBV.name}}</option>
                                               {% endfor  %} 

                                            </select>


                                        </div>
                 <div class="block_action" >   
                                        <div class="mb-3">
                                          <label for="exampleFormControlSelect1">Motif Bureau Veritas</label>                                          
                                          <select {% if app.user.administrateur==false and (statusDuMoyen_bdd == 'En production' or statusDuMoyen_bdd == 'Demande passage statut prod')  %} disabled {% endif %} class="form-control" name="motifBV" id="exampleFormControlSelect1">
                                                      
                                                      <option value="{{motifBVs_bdd}}">{{motifBVs_bdd}}</option>
                                                       {% for motifBV in motifBVs  %}
                                                                          <!--  {% if motifBVs_bdd is defined and motifBV.name != statusBV_bdd %} <option selected value="{{motifBVs_bdd}}">{{motifBVs_bdd}}</option> {% endif %} -->
                                                                            <option {% if motifBV.name is defined and motifBV.name == motifBVs_bdd %} selected {% endif %}  value="{{motifBV.name}}">{{motifBV.name}}</option>
                                                      {% endfor  %} 
                                                      
                                          </select>
                                      </div>

                                      <div class="form-floating">
                                        <label for="floatingTextarea">Observations Bureau Veritas</label>
                                        <textarea {% if app.user.administrateur==false and (statusDuMoyen_bdd == 'En production' or statusDuMoyen_bdd == 'Demande passage statut prod')  %} disabled {% endif %} name="observations" class="form-control" placeholder="Veuillez saisir une action" id="floatingTextarea">{% if observations is defined %} {{observations}} {% endif %}</textarea>                                                                              
                                </div>

                                <div class="mb-3">
                                  <label for="exampleFormControlSelect1">Pilote</label>
                                  <select class="form-control" name="pilote" id="exampleFormControlSelect1">

                                                      <option value="{{pilotes_bdd}}">{{pilotes_bdd}}</option>
                                                      {% for  pilote in pilotes  %}
                                                                         <!--   {% if pilotes_bdd is defined and pilote.name != statusBV_bdd %} <option selected value="{{pilotes_bdd}}">{{pilotes_bdd}}</option> {% endif %}  -->
                                                                            <option {% if pilote.name is defined and pilote.name == pilotes_bdd %} selected {% endif %}  value="{{pilote.name}}">{{pilote.name}}</option>
                                                      {% endfor  %} 

                                  </select>
                              </div>

                              <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Délais</label>
                                  <input value="{{delais_bdd}}" name="delais" class="form-control" type="date" placeholder="Default input">
                            </div>

                            <div class="mb-3">
                              <label for="floatingTextarea">Action à mettre en place</label>
                                <textarea name="actions" class="form-control" placeholder="Veuillez saisir l'action" id="floatingTextarea">{% if action_bdd is defined %} {{action_bdd}} {% endif %}</textarea>      
                          </div>
                 </div> 
                                        <div class="form-floating">
                                                <label for="floatingTextarea">Commentaire</label>
                                                <textarea name="commentaire" class="form-control" placeholder="Veuillez saisir un commentaire" id="floatingTextarea">{% if commentaire is defined %} {{commentaire}} {% endif %}</textarea>                                                                                 
                                        </div>
                                     

                                    

                                          <div class="custom-file mt-2">
                                                                                                                    
                                                
                                                    {% if app.user.administrateur==false and (statusDuMoyen_bdd == 'En production' or statusDuMoyen_bdd == 'Demande passage statut prod')  %}                                                           
                                                           
                                                               <label>Dernier Rapport Bureau Véritas</label>
                                                             {% if rapport is not empty and rapport is not null  %} 
                                                             <a href="http://127.0.0.1:8000/upload/{{rapport}}"><iconify-icon icon="line-md:cloud-upload-loop" style="color: #4cb4e7;" width="40" height="40"></iconify-icon></a>  
                                                            
                                                             {% endif %}
                                                                                                                       
                                                    {% else %}  
                                                            
                                                       
                                                                  <label>Dernier Rapport Bureau Véritas</label>

                                                                 

                                                              {% if rapport is not empty and rapport is not null  %} 
                                                               <a href="http://127.0.0.1:8000/upload/{{rapport}}"><iconify-icon icon="line-md:cloud-upload-loop" style="color: #4cb4e7;" width="40" height="40"></iconify-icon></a> 
                                                              <input type="hidden" name="cacher_rapportbv" id="file1_cacher" value="{{rapport}}"/>
                                                               {% endif %}
                                                                <input  type="file" name="rapportbv"  id="file1" > 
                                                                
                                                           
                                                   {% endif %}                                                 
                                                                                  
                                          </div>

                                       



                                       

                                      <div class="custom-file mt-2">                                                                                          

                                         {% if app.user.administrateur==false and (statusDuMoyen_bdd == 'En production' or statusDuMoyen_bdd == 'Demande passage statut prod')  %}                                                     
                                                
                                                     <label>Déclaration de conformité:</label>  
                                                     {% if certificat is not empty and certificat is not null %} 
                                                     <a href="http://127.0.0.1:8000/upload/{{certificat}}"><iconify-icon icon="line-md:cloud-upload-loop" style="color: #4cb4e7;" width="40" height="40"></iconify-icon></a>    
                                                     {% endif %}                                              
                                              
                                          {% else %}                                                     
                                                     
                                                      <label>Déclaration de conformité:<span class="difftelma"><iconify-icon icon="fa-solid:exclamation" style="color: red;"></span> <span class="telma"><iconify-icon icon="fa-solid:exclamation" style="color: red;"></span></label>
                                                      {% if certificat is not empty and certificat is not null %} 
                                                      <a href="http://127.0.0.1:8000/upload/{{certificat}}"><iconify-icon icon="line-md:cloud-upload-loop" style="color: #4cb4e7;" width="40" height="40"></iconify-icon></a> 
                                                        <input type="hidden" name="cacher_certificate" id="file2_cacher"  value="{{certificat}}"/>  
                                                      {% else %}
                                                         <input type="hidden" name="cacher_certificate" id="file2_cacher"  value=""/>                                                        
                                                      {% endif %}   
                                                      <input type="file" name="certificate" id="file2"> 
                                                    
                                                                                                                                       
                                             {% endif %}    
                                          </div>

                                          



                                          
                                              
                                          <div class="custom-file mt-2">                                               

                                                 {% if app.user.administrateur==false and (statusDuMoyen_bdd == 'En production' or statusDuMoyen_bdd == 'Demande passage statut prod')  %}   
                                                        
                                             
                                                 <label>Fiche d’adéquation </label>
                                                {% if ficheadequation is not empty and ficheadequation is not null  %}  
                                                <a href="http://127.0.0.1:8000/upload/{{ficheadequation}}"><iconify-icon icon="line-md:cloud-upload-loop" style="color: #4cb4e7;" width="40" height="40"></iconify-icon></a>    
                                                {% endif %}  

                                                                                       
                                               
                                                 {% else %}                                                          
                                              
                                                 <label>Fiche d’adéquation <span class="difftelma"><iconify-icon icon="fa-solid:exclamation" style="color: red;"></span> <span class="telma"><iconify-icon icon="fa-solid:exclamation" style="color: red;"></span> </label>
                                                  {% if ficheadequation is not empty and ficheadequation is not null  %}          
                                                 <a href="http://127.0.0.1:8000/upload/{{ficheadequation}}"><iconify-icon icon="line-md:cloud-upload-loop" style="color: #4cb4e7;" width="40" height="40"></iconify-icon></a>  
                                                  <input type="hidden" name="cacher_adequation" id="file3_cacher" value="{{ficheadequation}}"/>   
                                                 {% else %}
                                                   <input type="hidden" name="cacher_adequation" id="file3_cacher" value=""/> 
                                                 {% endif %} 
                                                 <input type="file" name="adequation" id="file3">
                                                 
                                                  {% endif %}    
                                        </div>

                                        
                                          

                                          <div class="custom-file mt-2">                                                

                                                     {% if app.user.administrateur==false and (statusDuMoyen_bdd == 'En production' or statusDuMoyen_bdd == 'Demande passage statut prod')  %}   
                                                            
                                                           
                                                             <label>Rapport de mise en service</label>
                                                             {% if mise_en_service is not empty and mise_en_service is not null  %} 
                                                             <a href="http://127.0.0.1:8000/upload/{{mise_en_service}}"><iconify-icon icon="line-md:cloud-upload-loop" style="color: #4cb4e7;" width="40" height="40"></iconify-icon></a> 
                                                             {% endif %}   
                                                           

                                                     {% else %}   
                                                              
                                                          
                                                             <label>Rapport de mise en service <span class="difftelma"><iconify-icon icon="fa-solid:exclamation" style="color: red;"></span> <span class="telma"><iconify-icon icon="fa-solid:exclamation" style="color: red;"></span> </label>
                                                              {% if mise_en_service is not empty and mise_en_service is not null  %} 
                                                                  <a href="http://127.0.0.1:8000/upload/{{mise_en_service}}"><iconify-icon icon="line-md:cloud-upload-loop" style="color: #4cb4e7;" width="40" height="40"></iconify-icon></a> 
                                                                  <input type="hidden"  name="cacher_mise_en_service" id="file4_cacher" value="{{mise_en_service}}"/>  
                                                              {% else %}
                                                                  <input type="hidden"  name="cacher_mise_en_service" id="file4_cacher" value=""/> 
                                                               {% endif  %}

                                                             <input type="file" id="file4" name="mise_en_service"> 

                                                                                                                                                    
                                                    {% endif %}    
                                          </div>

                                            



                                           

                                          <div class="custom-file mt-2">                                                
                                                  
                                                  {% if app.user.administrateur==false and (statusDuMoyen_bdd == 'En production' or statusDuMoyen_bdd == 'Demande passage statut prod')  %}   
                                                        
                                                       
                                               <label>Plan </label>
                                               {% if plan is not empty and plan is not null  %}
                                                     <a href="http://127.0.0.1:8000/upload/{{plan}}"><iconify-icon icon="line-md:cloud-upload-loop" style="color: #4cb4e7;" width="40" height="40"></iconify-icon></a>  
                                                     <input type="hidden" name="cacher_plan" id="file5_cacher" value="null"/>                                         
                                               {% endif %}  
                                                         
                                              {% else %}  

                                               <label>Plan<span class="telma"><iconify-icon icon="fa-solid:exclamation" style="color: red;"></span></label>
                                                   {% if plan is not empty and plan is not null  %}
                                                   <a href="http://127.0.0.1:8000/upload/{{plan}}"><iconify-icon icon="line-md:cloud-upload-loop" style="color: #4cb4e7;" width="40" height="40"></iconify-icon></a>  
                                                   <input type="hidden" name="cacher_plan" id="file5_cacher" value="{{plan}}"/>     
                                                   {% else %} 
                                                        <input type="hidden" name="cacher_plan" id="file5_cacher" value=""/>                                                         
                                                  {% endif %}

                                               <input type="file" id="file5" name="plan"> 

                                               {% endif %}                                         
                                               
                                          </div>

                                          
                                          
                                          
                                         
                                          
                                          <div class="custom-file mt-2">                                                 
                                                 
                                                    {% if app.user.administrateur==false and (statusDuMoyen_bdd == 'En production' or statusDuMoyen_bdd == 'Demande passage statut prod')  %}                                                             
                                                               
                                                            <label>Note de calcul</label>
                                                            {% if notedecalcul is not empty and notedecalcul is not null  %} 
                                                            <a href="http://127.0.0.1:8000/upload/{{notedecalcul}}"><iconify-icon icon="line-md:cloud-upload-loop" style="color: #4cb4e7;" width="40" height="40"></iconify-icon></a> 
                                                            {% endif %} 
                                                                      
                                                            {% else %}                                                              
                                                                      
                                                            <label>Note de calcul   <span class="telma"><iconify-icon icon="fa-solid:exclamation" style="color: red;"></span>   </label>
                                                             {% if notedecalcul is not empty and notedecalcul is not null  %} 
                                                            <a href="http://127.0.0.1:8000/upload/{{notedecalcul}}"><iconify-icon icon="line-md:cloud-upload-loop" style="color: #4cb4e7;" width="40" height="40"></iconify-icon></a> 
                                                             <input type="hidden" id="file6_cacher" name="cacher_note_de_calcul" value="{{notedecalcul}}"/>  
                                                             {% else %} 
                                                              <input type="hidden" id="file6_cacher" name="cacher_note_de_calcul" value=""/> 
                                                            {% endif %} 
                                                                        
                                                            <input type="file" id="file6" name="note_de_calcul"> 
                                                           
                                                      {% endif %}
                                                  
                                                                                                                                               
                                          </div>

                                      

                                          
                                        

                                          <div class="custom-file mt-2 ">

                                                     {% if app.user.administrateur==false and (statusDuMoyen_bdd == 'En production' or statusDuMoyen_bdd == 'Demande passage statut prod')  %}   
                                                               
                                                             
                                                            <label>Image du moyen</label>  
                                                            {% if imagemoyen is not empty and imagemoyen is not null  %} 
                                                            <a href="http://127.0.0.1:8000/upload/{{imagemoyen}}"><iconify-icon icon="line-md:cloud-upload-loop" style="color: #4cb4e7;" width="40" height="40"></iconify-icon></a> 
                                                            {% endif %}  
                                                                        

                                                              {% else %}  
                                                                
                                                            
                                                            <label>Image du moyen</label> 
                                                           {% if imagemoyen is not empty and imagemoyen is not null  %} 
                                                            <a href="http://127.0.0.1:8000/upload/{{imagemoyen}}"><iconify-icon icon="line-md:cloud-upload-loop" style="color: #4cb4e7;" width="40" height="40"></iconify-icon></a>  
                                                              <input type="hidden" id="file7_cacher" name="cacher_img_moyen" value="{{imagemoyen}}"/> 
                                                            {% endif %}  
                                                                    
                                                              <input type="file" id="file7" name="img_moyen">
                                                           
                                                     {% endif %}  
                                           
                                          </div>  

                                       



                                           {% if app.user.administrateur==false %}

                                            <input type="hidden" name="status_de_ladmin" value="pas_admin" />

                                           {% else %}

                                              <input type="hidden" name="status_de_ladmin" value="admin" />

                                           {% endif %}
                                       
                                       
                                        
                                        <button type="submit" id="mise_a_jour" value="mise_a_jour_moyen" name="mise_a_jour_moyen" class="btn btn-primary mt-3">Mettre à jour le moyen</button>

                                          {% if app.user.fonction == 'MAINTENANCE' and approbationmaintenance == 0 and statusDuMoyen_bdd == 'Demande passage statut prod' %}   <button type="submit" value="validation_moyen_maintenance" name="validation_moyen" class="btn btn-primary mt-3">Valider le moyen</button> {% endif %}
                                          {% if app.user.fonction == 'QUALITE' and approbationqualite == 0 and statusDuMoyen_bdd == 'Demande passage statut prod' %}   <button type="submit" value="validation_moyen_qualite" name="validation_moyen" class="btn btn-primary mt-3">Valider le moyen</button>         {% endif %}
                                         
                                    </form>
                                </div>



                                  <script src="{{asset('assets/js/jquery.js')}}"></script>

                                  <script>

                                                          var motsADisparaitre = document.getElementsByClassName("numero_cmu");
                                                          for (var i = 0; i < motsADisparaitre.length; i++) {
                                                              motsADisparaitre[i].style.display = "none";
                                                          }


                                                        var motsADisparaitre2 = document.getElementsByClassName("telma");
                                                        for (var i = 0; i < motsADisparaitre2.length; i++) {
                                                            motsADisparaitre2[i].style.display = "none";
                                                        }

                                                        var motsADisparaitre3 = document.getElementsByClassName("difftelma");
                                                        for (var i = 0; i < motsADisparaitre3.length; i++) {
                                                            motsADisparaitre3[i].style.display = "none";
                                                        }

                                                          var motsADisparaitre4 = document.getElementsByClassName("block_action");
                                                        for (var i = 0; i < motsADisparaitre4.length; i++) {
                                                            motsADisparaitre4[i].style.display = "none";
                                                        }

                                                       var statusMoyenSelect = document.getElementsByName("statusmoyen")[0].value;

                                                       var status_bv = document.getElementsByName("statusbv")[0].value; 


                                                       document.addEventListener("DOMContentLoaded", function() {
                                                              
                                                                          if (status_bv === 'Non-conforme') {
                                                                              for (var i = 0; i < motsADisparaitre4.length; i++) {
                                                                                  motsADisparaitre4[i].style.display = "inline";
                                                                              }
                                                                          } else {
                                                                              for (var i = 0; i < motsADisparaitre4.length; i++) {
                                                                                  motsADisparaitre4[i].style.display = "none";
                                                                              }
                                                                          }

                                                       });

                                                       function handleStatusBVChange(selectElement) {
                                                                // Obtenez la valeur sélectionnée
                                                                var status_bv = selectElement.value;
                                                                // Faites quelque chose avec la valeur, par exemple, imprimez-la dans la console
                                                                //  console.log("Nouveau statut BV : " + status_bv);
                                                                // Vous pouvez également mettre votre logique ici en fonction de la valeur sélectionnée
                                                                if(status_bv=='Non-conforme')
                                                                {
                                                                            for (var i = 0; i < motsADisparaitre4.length; i++) {
                                                                                motsADisparaitre4[i].style.display = "inline";
                                                                            }
                                                                }
                                                                else
                                                                {
                                                                      for (var i = 0; i < motsADisparaitre4.length; i++) {
                                                                                motsADisparaitre4[i].style.display = "none";
                                                                            }
                                                                }
                                                       }



                                                        $("#mise_a_jour").click(function(e){

                                                                  var cmu = document.getElementById("cmu").value;
                                                               // var numero = document.getElementById("numero").value;
                                                               // probleme  var rapportBV = document.getElementById("file1").value;  
                                                                //  var cacher_rapportBV = document.getElementById("file1_cacher").value; 

                                                                       /* OK */
                                                                var certificate = document.getElementById("file2").value;  
                                                                 var cacher_certificate= document.getElementById("file2_cacher").value; 

                                                                var adequation =  document.getElementById("file3").value;  
                                                                var cacher_adequation= document.getElementById("file3_cacher").value; 


                                                                  var mise_en_service = document.getElementById("file4").value;
                                                                  var cacher_mise_en_service=document.getElementById("file4_cacher").value; 
                                                                 
                                                               
                                                                  var plan = document.getElementById("file5").value;
                                                                  var cacher_plan=document.getElementById("file5_cacher").value; 

                                                                 var note_de_calcul = document.getElementById("file6").value;  
                                                                 var cacher_note_de_calcul=document.getElementById("file6_cacher").value; 
                                                                       /* OK */                                                                      

                                                              //    var image = document.getElementById("file7").value;  
                                                             //     var cacher_plan=document.getElementById("file7_cacher").value; 

                                                                  var fournisseurs  = document.getElementById("fournisseurs").value; 
                                                                 var statusMoyenSelect = document.getElementsByName("statusmoyen")[0].value;

                                                               //   console.log(cacher_note_de_calcul);


                                                                //  e.preventDefault(); 

     

                                                                 if(cmu==="")
                                                                  {
                                                                    //  alert("Vous inscrire la cmu ou le numero de serie");
                                                                    //    motADisparaitre.style.display = "inline";
                                                                              for (var i = 0; i < motsADisparaitre.length; i++) {
                                                                              motsADisparaitre[i].style.display = "inline"; // ou "block", selon le contexte
                                                                              }
                                                                              
                                                                              e.preventDefault();   
                                                                              
                                                                  }
                                                                  else
                                                                  {
                                                                              for (var i = 0; i < motsADisparaitre.length; i++) {
                                                                              motsADisparaitre[i].style.display = "none"; // ou "block", selon le contexte
                                                                              }
                                                                                
                                                                  }

                                                         

                                                          if(statusMoyenSelect==='Demande passage statut prod' || statusMoyenSelect==='En production' )
                                                          {
                                                            
                                                                        if(fournisseurs==='TELMA')
                                                                        {
                                                                         // console.log(fournisseurs);

                                                                                  if( (certificate==="" && cacher_certificate==="") || (adequation==="" && cacher_adequation==="") ||  (mise_en_service==="" && cacher_mise_en_service==="") || (plan==="" && cacher_plan==="") || (note_de_calcul==="" && cacher_note_de_calcul===""))
                                                                                  {
                                                                                              //    console.log('juju');
                                                                                                    for (var i = 0; i < motsADisparaitre2.length; i++) {
                                                                                                    motsADisparaitre2[i].style.display = "inline"; // ou "block", selon le contexte
                                                                                                    }
                                                                                                    
                                                                                                    e.preventDefault();    
                                                                                  }
                                                                                                                                                              
                                                                        }
                                                                        else
                                                                         {
                                                                                                    for (var i = 0; i < motsADisparaitre2.length; i++) {
                                                                                                    motsADisparaitre2[i].style.display = "none"; // ou "block", selon le contexte
                                                                                                  }      
                                                                                                  
                                                                                                                                                                                                                                                            
                                                                         }
                                                                 
                                                          }
                                                         

                                                          
                                                             if(statusMoyenSelect==='Demande passage statut prod' || statusMoyenSelect==='En production' )
                                                             {
                                                               console.log(statusMoyenSelect);
                                                                          if(fournisseurs!=='TELMA')
                                                                          { 
                                                                                // console.log(fournisseurs);   
                                                                                  if( (certificate==="" && cacher_certificate==="") || (adequation==="" && cacher_adequation==="") || (mise_en_service==="" && cacher_mise_en_service===""))
                                                                                  {
                                                                                               for (var i = 0; i < motsADisparaitre3.length; i++) {
                                                                                              motsADisparaitre3[i].style.display = "inline"; // ou "block", selon le contexte
                                                                                              }
                                                                                              e.preventDefault();                                                                                    
                                                                                  }                                                                                                                                                           
                                                                          }
                                                                            else
                                                                                  {
                                                                                        for (var i = 0; i < motsADisparaitre3.length; i++) {
                                                                                        motsADisparaitre3[i].style.display = "none"; // ou "block", selon le contexte
                                                                                        }
                                                                                                
                                                                                  }
                                                                          

                                                             }

                                                                

                                                        })
                                   </script>

         

{% endblock %}
